*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
/__pycache__
/fast-style-transfer/data/train2014
/fast-style-transfer/data/train2014.zip
.externalNativeBuild
